/*Skeleton Basic Styling*/

.topPic {
    background-image: url(./images/toppic1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
}

.titleheader {
    color: white;
    font-size: 100px;
    text-align: center;
    margin-top: 150px;
}

.titlep {
    color: white;
    text-shadow: 3px 3px black;
    text-align: center;
    font-size: 30px;
}

.titleul {
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: 3px 3px black;
}

.titlecontainer {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#titleimage {
    background-image: url(https://www.sydneyoperahouse.com/content/dam/soh/footer/venue-hire/outdoor-events/OutdoorEvents_TameImpala_1600x1067.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#titlebutton {
    font-size: 30px;
}

ul {
    width: 100%;
}

.titlecenter {
    width: 800px;
    margin: 0 auto;
    text-align: left;
}

.savedList {
    padding: 40px;
}



































h1 {
    text-align: center;
}

.searchItems {
    border: 3px solid white;
    margin: auto;
    width: 50%;
}

.userInput {
    text-align: center;
}

.card-title {
    font-size: 30px;
}

.card-text {
    font-size: 20px;
}

.img-fluid {
    width: 100%;
    border-radius: 5%;
}

.card {
    width: 30rem;
    margin: auto;
    height: auto;
    background-color: gray;
}

.card-body {
    text-align: center;
    margin: 10px;
    background-color: darkgray;
    border-radius: 5%;
}

.nearEvents {
    text-align: center;
}

.getTicks {
    /* background-color: rgb(0, 0, 255); */
}

.saveBtn {
    display: inline;
    margin: auto;
    margin-left: 10px;
}

.float-container {
    border: 3px solid #fff;
    padding: 20px;
    width: 70%;
    margin: auto;
}

.float-child1 {
    width: 75%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}  

.float-child2 {
    width: 25%;
    float: left;
    padding: 20px;
    border: 2px solid red;
    margin-top: 55px;
}  